@import "variables";
@import "common";


body > * {
  @include size;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
 height: 100vh;
 header{
   position: relative;
   height: 25%;
   background: blue;
   nav{
     position: absolute;
     left:50%;
     top:50%;
     transform: translate(-50% , -50%);
     width: 100%;
     background: green;
     ul{
       display: flex;
       justify-content: space-around;
       li {
         list-style: none;
         &:hover {
           color:#fff;
         }
       }
     }
   }
 }
  main {
    height: 50%;
    background: red;
  }
  footer{
    height: 25%;
    background: black;
  }
}
